@import "variables";
@import "mixins";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: $font-franklin;
}

.header_container,.section_container{
    max-width: 1200px;
    margin: auto;
}

// .section_container{
//     max-width: 1200px;
//     margin: auto;
//     // border: 1px solid darkgoldenrod;
    
// }

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}


@import "main";
@import "responsive";